.signup {
  padding: 0px 10px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #39f8ff, hsl(241, 92%, 20%));
}

.signup h2 {
  font-size: max(3vw, 36px);
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

.signup form {
  background-color: white;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup input {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.signup input:focus {
  border-color: #e97305;
}

.signup button {
  background: #e97305;
  color: white;
  font-size: 16px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.signup button:hover {
  background-color: #ff8533;
  transform: scale(1.05);
}

.signup p {
  text-align: center;
  color: #ff4d4d;
  font-size: 14px;
  margin-top: 10px;
}